body{
  display: flex;
  flex-direction:column;
  flex:auto;
  border-style:solid;
}

main{
  display: flex;
  flex:auto;
}

aside{
  flex:1; 
}

article{
  flex:3; 
}


a{
 color:yellow;
}

a:hover{
 color:blue; 
}
