body{
  display: flex;
  flex-direction:column;

}

main{
  display: flex;
  flex:auto;
}

aside{
  flex:1; 
  border-style:solid;
  border-width: 5px;
}

article{
  flex:3; 
  border-style:solid;
  border-width: 5px;
}


a{
 color:yellow;
}

a:hover{
 color:blue; 
}
