body{
  display: flex;
  flex-direction:column;
  border: 5px solid black;
  border-radius: 5px;
}

main{
  display: flex;
  flex:auto;
  border: 5px solid black;
  border-radius: 5px;
}

aside{
  flex:1; 
  border: 5px solid black;
  border-radius: 5px;
}

article{
  flex:3; 
  border: 5px solid black;
  border-radius: 5px;
}


a{
 color:yellow;
}

a:hover{
 color:blue; 
}
